div {
    font-family: 'Grandstander', cursive;
    color: royalblue;   
}
.ex2 {
    font-family: 'Grandstander', cursive;
    color: royalblue;   
}
#ex3 {
    font-family: 'Grandstander', cursive;
    color: royalblue;   
}
.emphasis {
    font-weight: 1.5;
    color: firebrick;   
}
