div {
    font-family: 'Grandstander', cursive;
    color: royalblue;   
}
.ex2 {
    font-family: 'Grandstander', cursive;
    color: royalblue;   
}
#ex3 {
    font-family: 'Grandstander', cursive;
    color: royalblue;   
}
.emphasis {
    font-weight: bold;
    color: firebrick;   
}
#wrong {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}
